.content {
    grid-area: main;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: #bde0fe;
    border-radius: 6px;
    overflow: auto;

    &::-webkit-scrollbar {
        width: 8px;
    }
    &::-webkit-scrollbar-track {
        background:#ebf2fa;
    }
    &::-webkit-scrollbar-thumb {
        background-color: #06d6a0;
        border-radius: 20px;
    }
}
