.header {
    grid-area: header;
    padding: 25px 0;
    background-color: #06d6a0;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    padding: 15px 10px;
    border-radius: 0 0 6px 6px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &  a {
        display: flex;
    }
}