.header {
    grid-area: header;
    padding: 25px 0;
    background-color: #06d6a0;
    font-size: 20px;
    color: #fff;
    text-transform: uppercase;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 10px;
    border-radius: 0 0 6px 6px;

    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    &  a {
        display: flex;
    }
}

.loginBlock {

    & a {
        font-size: 20px;
        color: #fff;
        font-weight: 700;
        text-decoration: none;
    }
}